@font-face {
  font-family: "iconfont"; /* Project id 3375877 */
  src: url('iconfont.woff2?t=1655089455891') format('woff2'),
       url('iconfont.woff?t=1655089455891') format('woff'),
       url('iconfont.ttf?t=1655089455891') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Sidebar-icon */
.icon-index:before {
  content: "\e63f";
}

.icon-rank:before {
  content: "\e629";
}

.icon-playlist:before {
  content: "\e636";
}

.icon-mvlist:before {
  content: "\e608";
}

.icon-artist:before {
  content: "\e601";
}

.icon-my:before {
  content: "\e625";
}

/* 图片占位符 */
.icon-image:before {
  content: "\e67f";
}

/* hot-playlist */
.icon-headset:before {
  content: "\e60e";
}

/* rank-list */
.icon-favorite:before {
  content: "\e614";
}

.icon-add:before {
  content: "\e9fe";
}

/* mv-list */
.icon-video-play:before {
  content: "\e6ab";
}

.icon-video:before {
  content: "\e76d";
}

/* DJ */
.icon-dj-play:before {
  content: "\e65b";
}

/* audio */
.icon-play:before {
  content: "\e87c";
}

.icon-pause:before {
  content: "\e626";
}

.icon-close:before {
  content: "\eca0";
}

.icon-lastSong:before {
  content: "\e603";
}

.icon-nextSong:before {
  content: "\e602";
}

.icon-volumeCross:before {
  content: "\ea0b";
}

.icon-volumeHigh:before {
  content: "\ea0c";
}

.icon-volumeLow:before {
  content: "\ea0d";
}

.icon-volumeMiddle:before {
  content: "\ea0e";
}

.icon-shuffle:before {
  content: "\ea75";
}

.icon-repeat:before {
  content: "\ea76";
}

.icon-repeatOnce:before {
  content: "\ea77";
}

.icon-window:before {
  content: "\e6db";
}

.icon-locked:before {
  content: "\e67c";
  color: var(--color-text-height);
}

.icon-unlock:before {
  content: "\e67d";
}
/* not use */
.icon-bofang-xunhuanbofang:before {
  content: "\e68d";
}

.icon-pip:before {
  content: "\e624";
}

